*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    display: grid;
    place-items: center;
    height: 100vh;
}
#container
{
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
#container  #dino
{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom:28px ;
    left: 20px;
    /* animation: animateDino 0.5s linear infinite; */
}
#container #dino img

{
    height: 70px;
    width: 70px;
}
.dinoActive

{
    animation: animateDino 0.5s linear infinite;

}
@keyframes animateDino{
    0%,100%
    {
        bottom: 28;
    }
    45%,55%
    {
        bottom: 160;
    }
}
#container #block 

{
    height: 80px;
    width: 125;
    position: absolute;
    bottom: 20px;
    right: -20px;
    /* animation: blockAnimate 1s linear infinite; */

 }
#container #block img
{
    height: 80px;
    width: 125px;
}
.blockActive
{
    animation: blockAnimate 1s linear infinite;

}
@keyframes blockAnimate{
    0%
    {
        right: -125px;
    }
    100%
    {
    right:100%;
    }
}
#container #road
{
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
    animation:none;
}
#container #road img
{
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
}
@keyframes roadAnimate{
    0%
    {
        left: 0;
    }
    100%
    {
        left: -800px;
    }
}
#score
{
    height: auto;

    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
}
#gameOver
{
font-size: 70px;
left: calc(50%-181px);
top: calc(50%-40px);
width: 362;
height: 80px;
color: #525252;
}


